body {
    background: #272727;
    background-image: url("bg.png")
}
a {
    color: #05d8cf;
}
a:hover {
    color: #00b5ad;
}
.favicon {
    margin-right: 3px;
    position: relative;
    top: 1.5px;
}