<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}"/>
    <title>Top 5 notes</title>
</head>
<body>
    {% if latest_note_list %}
        <ul>
        {% for note in latest_note_list %}
        <h1><li><a href="{% url 'notes:detail' note.id %}">{{ note }}</a> ({{ note.pub_date }})</li></h1>
        {% endfor %}
        </ul>
    {% else %}
        <p>No notes are available.</p>
    {% endif %}
        <!-- <button>Add question</button> -->
</body>
</html>

  