body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}

/*
.container {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header .well {
  padding-top: 5px;
  padding-bottom: 5px;
}

header .well .user-links {
  float: right;
  color: #ccc;
}
*/

h1, h2, h3, h4, h5 {
  font-family: Merriweather;
  font-weight: 300;
  color: #17a2b8;
}

a:link, a:visited, a:hover, a:active {
  color: #17a2b8;
}


.bootsy_text_area {
  width: 100%;
  border-color: #ccc;
  border: none;
  font-size: 120%;
}

.bootsy_text_area:focus {
  outline: none;
}

i.fa-trash-o {
  color: #ccc;
  font-size: 150%;
  vertical-align: middle;
  margin-left: 1em;
}

i.fa-trash-o:hover {
  color: #999;
}

.wysihtml5-toolbar .btn-default {
  color: #999;
}

input#note_title,
#id_title {
  border: none;
  font-size: 200%;
  font-family: Merriweather;
  color: #17a2b8;
  font-weight: 300;
  width: 100%;
}

input#note_title:focus {
  outline: none;
}

#sidebar {
  position: absolute;
  width: 95%;
  overflow: auto;
}

ul#notes {
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
}

ul#notes li {
  border-top: 1px solid #ddd;
  padding: 1em;
  height: 100px;
  font-size: 90%;
  cursor: pointer;
  overflow: hidden;
}

ul#notes li:first-of-type {
  border-top: none;
}

.active, ul#notes li:hover {
  color: black;
  background-color: #17a3b827;
}

ul#notes li:hover .note-title {
  color: black;
}

ul#notes li:hover a {
  color: black;
  text-decoration: underline;
}

ul#notes li:hover div a#tag {
    color: white;
    text-decoration: none;
}

ul#notes li .note-title {
  color: black;
  font-family: Merriweather;
  font-size: 120%;
  font-weight: 300;
}

ul#notes li .note-body {
  height: 54px;
  overflow: hidden;
}

ul#notes ul,
ul#notes ol {
    padding-left: 20px;
}

ul#notes ul li {
    list-style: disc inside;
}

ul#notes ol li {
    list-style: decimal inside;
}

#nonotes {
    margin-top: 1em;
    color: black;
    font-family: Merriweather;
    font-size: 120%;
    font-weight: 300;
}

input[type="text"],
input[type="password"],
.edit_user input[type="text"],
.edit_user input[type="password"] {
  width: 100%;
  font-size: 120%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25em;
}

#welcome h1 {
  color: #17a2b8;
}

#welcome main {
  margin: 0 auto;
  width: 360px;
}

span.login {
  margin-left: 1em;
}

.new-note a {
    color: #333333;
}

.btn-outline-success {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-success:hover { 
    background-color: #17a2b8;
    border-color: #17a2b8;
}


/* Scrollbar */

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #17a2b8; 
}

.scrollbar-default {
    scrollbar-color: #17a2b8 #F5F5F5;
}



#tag {
    color: white;
    text-decoration: none;
}


.sidebar-top {
    padding: 10px 5px 10px 5px;
}

.search-note {
    padding-left: 10px;
    padding-right: 5px;
}

.new-note {
    padding-left: 5px;
    padding-right: 5px;
}

.new-note.btn {
    height: 100%;
}


.tag.mr-1.badge.badge-info {
    font-size: 100%;
}

p > .bootstrap-tagsinput {
    width: 100%;
    padding: 0.25rem 0.30rem 0 0.30rem
}


a > i.icon {
    padding: 10px;
}
button > i.icon {
    padding: 10px 0 10px 10px
}

.share-link {
    min-width: 22rem;
}

div.submit.btn-group > .btn:not(:first-child) {
    margin: 0;
    border-left-width: 0;
}

div.submit.btn-group > .btn {
    margin: 0;
}

.bootstrap-tagsinput > input { 
    font-size: initial;
}


/* Popup */
.popover {
    max-width: unset;
}

.popover-header {
    display: flex;
    justify-content: space-between;
}
.popover-body {
    font-size: 1.2rem;
}
.popover-header > .popover-title {
    line-height: normal;
}

.popover-header > .copy.badge {
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: normal;
}

.popover-body > .badge {
    font-weight: 400;

}
